.mod-dash {
	@include box($black-trans, $border-radius, $shadow-radius);
	@include absolute($top: 5%, $right: $padding-header);
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 45vw;
	max-width: 450px;
	padding: 30px 2.5vw;
	z-index: 15;
	order: 2;

	@include mq(tablet) {
		width: 50vw;
		height: $tablet-height-dash;
		max-width: none;
		top: 0;
		right: 0;
		padding: 15px 5vw;
	}

	@include mq(mobile) {
		display: none;
		width: 100vw;
		height: auto;
		align-items: center;
		top: $mobile-height-user;
		left: 0;
	}

	.title {
		font-weight: bold;
	}

	.value {

	}

	.units {

	}

	> .live {
		display: flex;
		margin-bottom: 10px;
		@include font("dash-BG");

		@include mq(mobile) {
			display: none;
		}

		> .BG {
			background: none;
		}

		> .trend {
			background: none;
			margin-left: 8px;
			font-weight: normal;
		}
	}

	> .delta,
	> .insulin,
	> .on-board,
	> .factors,
	> .age {
		display: flex;

		> p {
			@include font("dash-details");
			margin-right: 15px;
			white-space: nowrap;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}