/*******************************************************************************

	Title : _base.scss
	Author : David Leclerc
	Date : 06.08.2017
	Notes : -

*******************************************************************************/

* {
	box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, strong, a, ul, ol, li, img {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
}

a {
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $gray;
	font-family: $font-copy;
	color: $white;
}

main {
	display: flex;
	flex: 1;
	flex-direction: column;
	@include relative;
}