// Breakpoints
$breakpoints: (
	"phone": 640px,
	"tablet": 768px,
	"desktop": 1024px
);

// Fonts
$font_stack: "Slabo 27px", serif;

// Colors
$black: #111111;
$white: #eeeeee;
$grey: #252222;
$green: #99e500;
$orange: #ff8100;
$red: #e50000;
$blue: rgb(50, 50, 255);
$black-trans: rgba(0, 0, 0, 0.75);
$blue-trans: rgba(50, 50, 255, 0.5);
$beige-trans: rgba(225, 200, 200, 0.5);

// Sizes
$width-graph: 97.5%;
$height-graph: 96%;
$height-content: 92.5%;
$width-settings: 25%;
$height-settings: 95%;
$radius-BG: 5px;
$padding-header: 2.5%;
$padding-settings: 2%;