//@import url("https://fonts.googleapis.com/css?family=Slabo+27px|Gloria+Hallelujah");

@font-face{
font-family : "Slabo 27px";
src : url("../fonts/Slabo27px-Regular.ttf");
}

@font-face{
font-family : "Gloria Hallelujah";
src : url("../fonts/GloriaHallelujah.ttf");
}