%center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%graph-axis-tick {
	display: flex;
	justify-content: flex-end;
	flex: none;
	font-size: 16px;
	font-weight: bold;
	color: $white;

	@include mq(mobile) {
		font-size: 14px;
	}
}

%graph-y-axis-tick {
	@extend %graph-axis-tick;
	flex-direction: column;
	padding-left: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dashed $white;
}

%graph-x-axis-tick {
	@extend %graph-axis-tick;
	padding-right: 4px;
	border-right: 1px dashed $white;
}

%button {
	margin: 0;
	padding: 0;
	border-radius: $border-radius;
	border: none;
	font-weight: bold;

	&:hover {
		cursor: pointer;
	}

	&:active {
		box-shadow: inset 3px 3px 3px $black;
		padding-left: 6px;
	}
}