/***************************************************************************************************

	Title : index.scss
	Author : David Leclerc
	Date : 12.12.2016
	Notes : -

***************************************************************************************************/

// Imports
@import "normalize";
@import "config";
@import "mixins";
@import "placeholders";
@import "base";

// General styles
.BG {

	&.very-low,
	&.very-high {
		color: $red;
	}

	&.low,
	&.high {
		color: $orange;
	}

	&.normal {
		color: $green;
	}
}

.TB,
.IOB,
.B {

    .mod-dash & {
        color: $white;
    }
}

.TB {
    color: $light-gray;
}

.IOB {
    color: $purple;
}

.B {
    color: $blue;

    &.mod-dot {
        @extend %square;
    }
}

.battery,
.reservoir {

    &.very-low {
        color: $red;
    }

    &.low,
    &.medium {
        color: $orange;
    }

    &.high,
    &.very-high {
        color: $green;
    }
}

.age {

    .new {
        color: $green;
    }

    .very-young,
    .young {
        color: $orange;
    }

    .old,
    .very-old {
        color: $red;
    }
}