/*******************************************************************************

	Title : index.scss
	Author : David Leclerc
	Date : 12.12.2016
	Notes : -

*******************************************************************************/

// STYLES
body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $gray;
	font-family: $font-copy;
	color: $white;
}

main {
	display: flex;
	flex: 1;
	flex-direction: column;
	@include relative;
}

.BG {

	&-very-low,
	&-very-high {
		background-color: $red;
		color: $red;

		&:hover {
			background-color: darken($red, 25%);
		}
	}

	&-low,
	&-high {
		background-color: $orange;
		color: $orange;

		&:hover {
			background-color: darken($orange, 25%);
		}
	}

	&-normal {
		background-color: $green;
		color: $green;

		&:hover {
			background-color: darken($green, 25%);
		}
	}
}
