/*******************************************************************************

Title : index.scss
Author : David Leclerc
Date : 12.12.2016
Notes : -

*******************************************************************************/

// IMPORTS
@import "normalize";
@import "reset";
@import "fonts";
@import "config";
@import "mixins";
@import "placeholders";

// STYLES
body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $gray;
	font-family: $font_stack;
}

#loader {
	@include absolute($top: 0, $left: 0);
	@extend %center;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 999;
}

header {
	display: flex;
	flex: none;
	width: 100vw;
	height: 65px;
	padding: 0 $padding-header;
	background-color: $black-trans;
	box-shadow: 0 $shadow-radius $shadow-radius black;
	z-index: 35;

	@include mq(tablet) {
		height: 8vh;
		padding: 0 5%;
	}

	@include mq(mobile) {
		height: 65px;
	}

	> #branding {
		display: flex;
		align-items: center;
		height: 100%;
		color: $white;
		font-family: "Gloria Hallelujah";
		font-size: 30px;
		font-weight: bold;
	}

	> #buttons {
		@extend %center;
		width: 20px;
		margin-left: auto;

		> img {
			width: 100%;
			cursor: pointer;
		}
	}
}

#content {
	display: flex;
	flex: 1;
	flex-direction: column;
	@include relative;
}

#user {
	@include box($black-trans);
	@include absolute($top: 5%, $left: $padding-header + 0.5%);
	align-items: center;
	width: 45vw;
	max-width: 450px;
	padding: 30px 2.5vw;
	z-index: 15;

	@include mq(tablet) {
		width: 50vw;
		height: 180px;
		max-width: none;
		top: 0;
		left: 0;
		padding: 15px 5vw;
	}

	@include mq(mobile) {
		width: 100vw;
		height: auto;
		max-width: none;
		padding: 10px 2.5vw;
		justify-content: center;
		position: static;
	}

	> #user-img {
		width: 125px;
		height: 125px;
		border-radius: 50%;
		border: 5px solid $white;
		object-fit: cover;

		@include mq(tablet) {
			width: 100px;
			height: 100px;
			border-width: 4px;
		}

		@include mq(mobile) {
			width: 75px;
			height: 75px;
			border-width: 3px;
		}
	}

	> #user-details {
		margin-left: 5%;
		font-size: 18px;
		color: $white;

		> p {
			line-height: 1.25em;

			@include mq(tablet) {
				font-size: 15px;
			}

			@include mq(mobile) {
				font-size: 15px;
			}
		}

		> #user-name {
			@include mq(mobile) {
				display: none;
			}
		}

		> #user-birthday {
			@extend #user-name;
		}

		> #user-cgm {
			@extend #user-name;

		}

		> #user-pump {
			@extend #user-name;
		}

		> #last-update {
			font-weight: bold;
			color: red;
		}
	}
}

#dash {
	@include box($black-trans);
	@include absolute($top: 5%, $right: $padding-header + 0.5%);
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 45vw;
	max-width: 450px;
	padding: 30px 2.5vw;
	z-index: 15;

	@include mq(tablet) {
		width: 50vw;
		height: 180px;
		max-width: none;
		top: 0;
		right: 0;
		padding: 15px 5vw;
	}

	@include mq(mobile) {
		width: 100vw;
		height: auto;
		max-width: none;
		position: static;
		padding: 15px 2.5vw;
		align-items: center;
	}

	> #dash-BG {
		display: flex;
		margin-bottom: 15px;
		font-family: "Gloria Hallelujah";
		font-size: 45px;
		font-weight: bold;
		line-height: 1em;
		color: $white;

		@include mq(tablet) {
			font-size: 40px;
			margin-bottom: 10px;
		}

		@include mq(mobile) {
			display: flex;
			justify-content: center;
			width: 100%;
		}

		> .BG {
			background: none;
		}

		> .arrow {
			background: none;
			margin-left: 5px;
		}
	}

	> #dash-delta {
		display: flex;
		font-size: 18px;
		line-height: 1.25em;
		color: $white;

		> p {
			margin-right: 15px;

			@include mq(tablet) {
				font-size: 16px;
			}

			@include mq(mobile) {
				font-size: 15px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	> #dash-basal {
		@extend #dash-delta;
	}

	> #dash-on-board {
		@extend #dash-delta;
	}

	> #dash-factors {
		@extend #dash-delta;
	}
}

#graph {
	display: flex;
	flex: 1;
	flex-wrap: wrap;

	@include mq(tablet) {
		// iPad needs dimensions in order to display correctly?
		flex: none;
		width: 100vw;
		height: 92vh;
	}

	@include mq(mobile) {
		flex: 1;
	}

	> #graph-BG {
		@include size($width-graph, $height-graph-BG / 100% * $height-graph,
			$tablet-width-graph, $height-graph-BG / 100% * $tablet-height-graph,
			$mobile-width-graph, $height-graph-BG / 100% * $mobile-height-graph);
		@include relative;
		order: 1;

		> .BG {
			@include dot;
		}
	}

	> #graph-I {
		@include size($width-graph, $height-graph-I / 100% * $height-graph,
			$tablet-width-graph, $height-graph-I / 100% * $tablet-height-graph,
			$mobile-width-graph, $height-graph-I / 100% * $mobile-height-graph);
		@include relative;
		order: 3;

		// Use flexbox to ensure no horizontal gaps between bars due to rounding
		// errors
		display: flex;
		align-items: flex-end;

		> .TBR {
			@include bar(TBR, $purple, 3%)
		}

		> .B {
			@include square($blue, 20%);
		}
	}

	> #graph-BG-axis {
		@include size(100% - $width-graph, $height-graph-BG / 100% * $height-graph,
			100% - $tablet-width-graph, $height-graph-BG / 100% * $tablet-height-graph,
			100% - $mobile-width-graph, $height-graph-BG / 100% * $mobile-height-graph);
		display: flex;
		flex-direction: column-reverse;
		order: 2;

		> .graph-y-axis-tick {
			@extend %graph-y-axis-tick;
		}
	}

	> #graph-I-axis {
		@include size(100% - $width-graph, $height-graph-I / 100% * $height-graph,
			100% - $tablet-width-graph, $height-graph-I / 100% * $tablet-height-graph,
			100% - $mobile-width-graph, $height-graph-I / 100% * $mobile-height-graph);
		display: flex;
		flex-direction: column-reverse;
		order: 4;

		> .graph-y-axis-tick {
			@extend %graph-y-axis-tick;
		}
	}

	> #graph-t-axis {
		@include size($width-graph, 100% - $height-graph,
			$tablet-width-graph, 100% - $tablet-height-graph,
			$mobile-width-graph, 100% - $mobile-height-graph);
		display: flex;
		flex-direction: row;
		order: 5;

		> .graph-x-axis-tick {
			@extend %graph-x-axis-tick;
		}
	}

	> #graph-NA {
		@include size(100% - $width-graph, 100% - $height-graph,
			100% - $tablet-width-graph, 100% - $tablet-height-graph,
			100% - $mobile-width-graph, 100% - $mobile-height-graph);
		order: 6;
	}
}

#bubble {
	@include box($black);
	@include absolute;
	flex-direction: column;
	padding: 10px;
	z-index: 30;
	display: none;

	> .info {
		color: $white;
		font-size: 18px;
		line-height: 1.25em;
		font-weight: bold;
		white-space: nowrap;
	}

	> .time {
		@extend .info;
	}

	.BG {
		background: none;
	}

	.TBR {
		color: $purple;
	}

	.B {
		color: $blue;
	}
}

#settings {
	display: none;
	@include absolute($top: 0, $right: -$width-settings);
	width: $width-settings;
	padding: 0 $padding-settings;
	box-shadow: -$shadow-radius 0 $shadow-radius $black-trans;
	background-color: $black;
	color: $white;
	z-index: 30;

	@include mq(tablet) {
		width: 100vw;
	}

	> h1 {
		width: 50%;
		margin: 15px 0;
		font-weight: bold;
		font-size: 22px;
		font-family: "Gloria Hallelujah";
	}

	> form {

		> .fieldset {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 15px;

			> label, p {
				display: flex;
				align-items: center;
				margin-right: 8px;
				font-weight: bold;
			}

			> input, select {
				width: 20%;
				margin-right: 8px;
				background-color: $gray;
				color: $white;
				border: none;
				border-radius: $border-radius;
			}

			> #settings-save {
				@extend %button;
				width: 100%;
				height: 45px;
				background-color: $gray;
				color: $white;

				&:hover, &:active {
					background-color: $white;
					color: $black;
				}
			}
		}
	}
}



// General classes
.BG-very-low {
	background-color: $red;
	color: $red;

	&:hover {
		background-color: darken($red, 25%);
	}
}

.BG-low {
	background-color: $orange;
	color: $orange;

	&:hover {
		background-color: darken($orange, 25%);
	}
}

.BG-normal {
	background-color: $green;
	color: $green;

	&:hover {
		background-color: darken($green, 25%);
	}
}

.BG-high {
	@extend .BG-low;
}

.BG-very-high {
	@extend .BG-very-low;
}