.mod-bubble {
	@include box($black, $border-radius, $shadow-radius);
	@include absolute;
	@include font("bubble-text");
	flex-direction: column;
	padding: 10px;
	z-index: 50;
	display: none;

	> .info,
	> .time {

		> .value,
		> .units {
			white-space: nowrap;
			background: none;
		}
	}
}