.mod-user {
	@include box($black-trans, $border-radius, $shadow-radius);
	@include absolute($top: 5%, $left: $padding-header);
	display: flex;
	width: 45vw;
	max-width: 450px;
	padding: 30px 2.5vw;
	z-index: 15;
	order: 1;

	@include mq(tablet) {
		width: 50vw;
		height: $tablet-height-dash;
		max-width: none;
		top: 0;
		left: 0;
		padding: 15px 5vw;
	}

	@include mq(mobile) {
		width: 100vw;
		height: $mobile-height-user;
		cursor: pointer;
	}

	> .left {
		display: flex;
		flex: none;
		align-items: center;
		margin-right: 5%;

		> .img {
			width: 125px;
			height: 125px;
			border-radius: 50%;
			border: 5px solid $white;
			object-fit: cover;

			@include mq(tablet) {
				width: 100px;
				height: 100px;
				border-width: 4px;
			}

			@include mq(mobile) {
				width: 75px;
				height: 75px;
				border-width: 3px;
			}
		}

	}

	> .right {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;

		p,
		span {
			display: inline-block;
			white-space: nowrap;
			@include font("user-details");
		}

		.battery {
			font-weight: bold;
		}

		> .details {
			@include mq(mobile) {
				display: none;
			}

			> .name,
			> .birthday {
				display: block;
			}
		}

		> .cgm,
		> .pump,
		> .loop {
			@include mq(mobile) {
				display: none;
			}
		}

		> .live {
			display: none;

			@include mq(mobile) {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			> .BG {
				background: none;
				@include font("user-BG");
			}

			> .trend {
				@extend .BG;
				margin-left: -5px;
			}
		}
	}
}