.mod-graph {
	display: flex;
	flex-wrap: wrap;

    // BG graph
    &.BG {
        @include graph($width-y-axis, 0px);
        width: 100vw;
        height: $height-graph-BG;
        flex: none;
        order: 3;
    }

    // Insulin graph
    &.I {
        @include graph($width-y-axis, $height-x-axis);
        width: 100vw;
        height: $height-graph-I;
        flex: 1;
        order: 4;
    }
}